<html>
    <head>
        <link rel="stylesheet" href="/static/css/additem.css">
    </head>
    <body>
        <form action="/addingitem"  method="post" enctype="multipart/form-data">
        <div id="container">
            <input type="text" name="item_name" placeholder="Enter name">
            <input type="number" name="item_cost" placeholder="Enter cost">
            <input type="file" name="item_image" >
            <button type="submit">Add</button>
        </div>
    </form> 
    </body>
</html>